body {
    font-family: 'Poppins', sans-serif; /* Fallback to sans-serif if Poppins is not available */
    box-sizing: border-box; /* Makes sizing more predictable */
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}
.formHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333333;
        margin-bottom: 20px; 
        width: 50%;
    }
.formHeaderSignin{
    color: #000000;
    font-weight: bolder;
}
.form{
    width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
}
.label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #666666;
}
.input{
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #666666;
    border-radius: 15px;
    font-size: 16px;
    color: #666666;
}
.btn{
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5rem;
    font-size: 16px;
    color: #666666;
    border: none;
    cursor: pointer;
}
.imageContainer{
    width: 35%;
    height: 100vh;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .formContainer {
        width: 100%;
    }

    .form {
        width: 90%;
    }

    .imageContainer {
        display: none;
    }
}