.eventCard {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    padding: 15px 0;
  }
  
  .eventDetails {
    display: grid;
    grid-template-columns: 1fr 50%;
    align-items: center;
  }
  
  .eventDateTime p {
    margin: 0;
    font-size: 14px;
    color: #333;
    text-wrap: nowrap;
  }
  
  .eventInfo {
    margin-left: 20px;
  }
  
  .eventTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .eventInfo p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .eventActions {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .statusButton {
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: default;
  }
  
  .accepted {
    background-color: rgba(243, 243, 241, 1);
    color: rgba(0, 0, 0, 1);
  }
  
  .rejected {
    background-color: rgba(97, 97, 97, 1);
    color: rgba(255, 255, 255, 1);
  }
  .accept {
    background-color: #4caf50;
    color: white;
  }
  .reject {
    background-color: #f44336;
    color: white;
  }
  
  .participantButton {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .participantCount {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
  }


  @media (max-width: 768px) {
    .eventCard {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      padding: 15px 0;
    }
    .eventCard p{
      font-size: 10.01px;
    }
  
    .eventDetails {
      display: grid;
      grid-template-columns: 1fr 50%;
      align-items: center;
      gap: 10px;
    }
  
    .eventInfo {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .eventActions {
      margin-top: 10px;
    }
  }