.card{
    width: 30%;
    margin: 10px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
}
.line{
    height: 1.2rem;
    background-color: #1877F2;
}
.content{
    padding: 1rem;
}
.title{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.actions{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
}
.action{
    margin: 0 0.5rem;
}
.divider{
    margin:0;
}