.header{
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    gap: 3px;
}
.logo{
    width: 31.76px;
    height: 29.59px;
}
.logoText{
    /* font-family: 'plus-jakarta-sans'; */
    width: 86px;
    height: 30px;
    font-weight: 800;
    font-size: 19.04px;
}

@media (max-width: 768px) {
    .header{
        padding: 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .logo{
        width: 31.76px;
        height: 29.59px;
    }
    .logoText{
        width: 86px;
        height: 30px;
    }
}