.headerComponent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.formHeader {
    color: #333;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
    width: 50%;
}

.formHeaderSignin {
    color: #333;
    font-weight: bolder;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.label {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #666;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(239, 240, 236, 1);
    border: none;
    border-radius: 9px;
    font-size: 16px;
    color: #666;
}

.btn {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5rem;
    font-size: 16px;
    color: #666;
    border: none;
    cursor: pointer;
}

.btn.loginBtn {
    background-color: #E0E2D9;
    color: #A8AAA2;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

.formFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formFooter a {
    font-size: 12px;
    font-weight: 400;
    color: rgba(24, 119, 242, 1);
    text-decoration: underline;
}
.formFooter > a{
    display: none;
}
.formFooter > p {
    font-size: 14px;
}

.recaptcha {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    margin: 0 10px;
    bottom: -50px;
}
.recaptcha>a{
    color: #575757;
    font-weight: 400;
}

.imageContainer {
    width: 35%;
    height: 100vh;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.passwordWrapper {
    position: relative;
    width: 100%;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  .eyeButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    outline: none;
  }
  
  .eyeButton:hover {
    opacity: 0.7;
  }



@media (max-width: 768px) {
    .formContainer {
        justify-content: flex-start;
        width: 100%;
    }

    .formHeader {
        font-size: 18px;
        width: 80%;
    }

    .formHeaderSignin {
        width: 100%;
        margin-top: 100px;
        margin-left: 25px;
    }

    .form {
        width: 100%;
    }
    .formFooter > a{
        display: block;
    }
    .btn.loginBtn {
        background-color: rgba(24, 119, 242, 1);
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 14px;
        margin-top: 30px;
    }
    

    .imageContainer {
        display: none;
    }
}
