.participantDropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.25);
    z-index: 10;
    padding: 2rem 0.5rem;
    max-width: 500px
  }
  
  .participantHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: bold;
  }
  .participantHeader p{
    margin: 0;
    padding: 0;
  }
  .participantTitle{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    color: #343434;
  }
  .participantCount{
    margin: 0;
    padding: 0;
    color: #B6B6B6;
  }
  .actionButtons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
  }
  .actions{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
    box-shadow: 0px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
  }
  
  .rejectButton {
    padding: 10px 15px;
    border: none;
    background-color: #ED0000;
    color: #fff;
    cursor: pointer;
  }
  
  .acceptButton {
    padding: 10px 15px;
    border: none;
    background-color: #00C35F;
    color: #fff;
    cursor: pointer;
  }
  .participantList {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .participantItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .participantAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .participantCheckbox {
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
    /* appearance: ; */
    border: 2px solid #676B5F;
    border-radius: 4px;
    cursor: not-allowed;
    background-color: transparent;
    position: relative; 
  }
