.container{
    display: flex;
    align-items: center;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}
.formWrapper{
    width: 60%;
}
.formHeader{
    font-size: 25px;
    font-weight: 800;
        color: #333333;
        width: 100%;

    }
    .formHeader h1{
        padding: 0;
        margin: 0;
        letter-spacing: -2.04px;
        color: #000000;
    }
    .formHeaderSignin {
        color: #333333;
        margin-bottom: 20px;
        padding: 0 20px;
      }
.form{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
   box-sizing: border-box;
}
.input{
    padding: 20px;
    margin-bottom: 15px;
    background-color: #F6F7F5;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    color: #666666;
    width: 100%;
    box-sizing: border-box;
}
.form p{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: flex-start;
    justify-items: start;
    padding: 10px;
}
.categoryButton{
    display: flex;
    align-items: center;
    border: 1px solid #E0E2D9;
    background-color: #fff;
    border-radius: 9px;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
    width: 100%;
    text-wrap: nowrap;
    color: #000000;
}
.categoryIcon{
    padding: 10px;
}
.form .submitButton{
    padding: 10px;
    width: 100%;
    background-color: #1877F2;
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -0.33px;
    margin-top: 10px;

}
.imageContainer{
    width: 35%;
    height: 100vh;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .container{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding: 10px;
        box-sizing: border-box;
        /* background-color: aquamarine; */
    }
    .formContainer{
        width: 100%;
        /* background-color: #666666; */
    }
    .formWrapper{
        width: 100%;
        /* background-color: azure; */
    }
    .formHeaderSignin{
        /* background-color: rgb(9, 194, 80); */
    }
    .formHeader{
        width: 100%;
        /* background-color: rgb(70, 40, 2); */
        margin-bottom: 50px;
    }
    .formHeader h1{
        font-size: 30px;
        letter-spacing: -2.04px;
    }
    .form{
        padding: 0;
        /* background-color: #1877F2; */
    }
    .form p{
        margin-bottom: 50px;
    }
    .grid{
        padding: 0;
        /* background-color: aqua; */
    }
    .imageContainer{
        width: 100%;
        height: 50vh;
    }
    .imageContainer{
        display: none;
    }
}