.container{
    display: flex;
    flex-direction: column;
    height: 80vh;

}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    border-radius: 24px;

}
.formHeader{
    border-bottom: #c5b7b7 1px solid;
}
.formTitle{
    font-size: 24px;
    margin: 0;
    padding: 0 10px;
}
.formTitle.active{
    display: inline;
    color: #1877F2;
    border-bottom: #1877F2 1px solid;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 100%;
}
.formGroup{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.formGroup label{
    font-size: 16px;
    margin: 0;
    padding: 0.4rem 0;
}
.formGroup input{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    border: #5E5E5E 1px solid;
    }
.submitBtn{
    padding: 1rem 4rem;
    border-radius: 1rem;
    background-color: #1877F2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}