.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 20%;
    height: 100%;
    background-color: #fff;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 1rem;
}
.list > li > img{
    margin-right: 1rem;
}
.list > li > button{
    color: #676767;
    background-color: #fff;
    border: none;
    cursor: pointer;
}