
.container{
    position: relative;
}
.logout{
    position: absolute;
    top: -35px;
    right: 20px;
    display: flex;
    gap: 10px;
    background-color: #F3F3F1;
    border-radius: 50px;
    padding: 0 20px;
    box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.25);
}
.userProfile {
    display: flex;
    align-items: center;
    margin: 20px;
    border: 1px solid #000000;
    /* padding: 0.5rem 4rem  0.5rem 0.5rem; */
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
  }
  .userAvatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin: 4px;
    background-color: #F3F3F1;
  }
  .userName {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    letter-spacing: -2%;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    .userProfileMobile {
        display: flex;
        align-items: center;
        border: 2px solid #000000;
        padding: 0.5rem 1rem;
        border-radius: 50px;
      }
    .userProfile {
        display: none;
      }
  }